@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lobster+Two&display=swap");

body {
  max-width: 960px;
  margin: 0 auto;
  margin-left: 50px;
}

header {
  background-color: #8d6a9f;
  padding: 10px 40px;
  border-radius: 7px;
}

header img {
  width: 200px;
  float: right;
}
main {
  margin: 40px 25px 40px 25px;
}

p,
li {
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  font-size: 1.7em;
  font-family: "Lobster Two", cursive;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}
footer {
  font-size: 0.75em;
  text-align: center;
  margin-top: 50px;
  background-color: #8d6a9f;
  padding: 20px 20px;
  border-radius: 7px;
  color: white;
}

footer a:visited {
  color: white;
}
span {
  align-content: center;
}
