@media (min-width: 37.5em) {
  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/
  header img {
    width: 150px;
  }

  /*----------- NAVIGATION --------------*/
  nav {
    margin: 0 auto;
  }
  nav button {
    display: none;
  }
  nav ul.hide {
    display: flex;
  }
  nav ul {
    flex-wrap: nowrap;
  }

  /*----------- MAIN --------------*/

  /*----------- FOOTER --------------*/
} /* end of media query */
