@media (min-width: 37.5em) {
  /*nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  }*/
  nav ul {
    flex-wrap: nowrap;
  }

  .persona-1 {
    float: left;
    margin-right: 25px;
  }

  .persona-2 {
    float: center;
  }
}
