/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64em) {
    /*----------- BODY --------------*/


    /*----------- HEADER --------------*/
    header img {
        max-width: 450px;
    }

    /*----------- NAVIGATION --------------*/



    /*----------- MAIN --------------*/


    /*----------- FORM - Join page --------------*/
    form fieldset {
        margin: 10px 10rem;
    }

    form input.submit {
        margin: 10px 20rem;
        text-align: center;
    }

    form label.sbs {
        padding: .4rem 0;
    }


    /*----------- FOOTER --------------*/



}