@media only screen and (min-width: 37.5em) {
    /*----------- BODY --------------*/


    /*----------- HEADER --------------*/


    /*----------- NAVIGATION --------------*/

    nav {
        margin: 0 auto;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul {
        flex-wrap: nowrap;
    }

    /*----------- MAIN --------------*/
    div#companies section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin: 15px 0px;
    }

    div#companies h3,
    div#companies p {
        margin: 0px;
    }

    div#companies .imgr img {
        grid-column: 2;
        grid-row: span 2;
    }

    div#companies .imgr h3,
    div#companies .imgr p {
        grid-column: 1;
    }

    div#companies .imgl img {
        grid-column: 1;
        grid-row: span 2;
    }

    div#companies .imgl h3,
    div#companies .imgl p {
        grid-column: 2;
    }

    div#companies h3 {
        grid-row: 1;
    }

    div#companies p {
        grid-row: 2;
    }

    .three-day {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    /* directory page */
    button#grid-list {
        display: block;
        background-color: #f4bc33;
        border: none;
        width: 10%;
        float: right;
        margin-bottom: 10px;
    }

    .list ul {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        border: 1px solid black;
        margin: 0;
    }

    .list li {
        list-style: none;
        padding: 10px;
    }

    .list li:nth-child(1) {
        grid-column: 1;
        border-right: 1px solid black;

    }

    .list li:nth-child(2) {
        grid-column: 2;
        border-right: 1px solid black;
    }

    .list li:nth-child(3) {
        grid-column: 3;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    /*----------- FORM - Join page --------------*/



    /*----------- FOOTER --------------*/

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer div.contact {
        grid-column: 1;
        text-align: center;
    }

    footer div.follow {
        grid-column: 2;
        text-align: center;
    }

    footer p.foot {
        grid-column: 1 / 3;
    }
}