/*----------- BODY --------------*/
body {
    margin: 0 auto;

}

header,
main,
footer {
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
}

h1,
h2 {
    font-family: "Noto Serif", serif;
}

p,
li,
button {
    font-family: "Source Sans Pro", sans-serif;
}

/*----------- HEADER --------------*/

header img {
    width: 75%;
    max-width: 350px;
}

/*----------- NAVIGATION --------------*/
nav button {
    margin: 0.2rem 2%;
    padding: 10px 100% 10px 10px;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav {
    background-color: #006BA6;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1 1 100%;
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #006BA6;
    padding: 0.75rem;
}

nav ul li a:hover {
    background-color: #736F72;
    color: white;
}

nav ul li a.active {
    background-color: #B2B2B2;
    color: black;
}

nav ul.hide {
    display: none;
}

.wayfinding {
    font-size: .75rem;
}

/*----------- MAIN --------------*/

main img {
    width: 100%;
}

#join-btn {
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    padding: 0.4rem 15%;
    background-color: #04724D;
    color: white;
    border: none;

}

#currentW {
    background-color: #B2B2B2;
    padding: 10px;
}

.three-day div {
    display: grid;
    background-color: #006BA6;
    margin: 10px 0px;
    text-align: center;
}

.three-day div h5 {
    grid-column: 1 / 3;
}

.three-day div p {
    grid-column: 1;
}

.three-day div img {
    grid-column: 2;
}



.three-day img {
    width: 20%;
}

/*----------- FOOTER --------------*/

footer {
    background-color: #04724D;
    color: white;
}

footer h5 {
    font-size: .95rem;
}

footer p {
    font-size: .8rem;
}

footer a img {
    border-radius: 5px;
    width: 3rem;
}

footer p.foot {
    font-size: .7rem;
    text-align: center;
}

footer p.foot a:link {
    color: white;
}

footer p.foot a:visited {
    color: #B2B2B2;
}